@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Work Sans', sans-serif !important;
}

/* color declaration */
:root {
  --primary: #eb1c22;
  --secondary: #ff771a;
  --text: #17182e;
  --border: #aeaeae;
  --bg: #aeaeae;
}

/* navbar style css start */
.mailIcon,
.phoneIcon {
  color: var(--primary);
}

.icon {
  color: var(--primary);
  transition: all 0.3s ease;
}

.icon:hover {
  color: var(--secondary);
}

.mail,
.phone .textColor {
  color: #17182e;
}

.logo {
  width: 235px;
  height: 60px;
}

.menuLink a {
  text-decoration: none;
  color: var(--text);
  font-weight: 400;
}

.menuLink a:hover {
  color: var(--secondary);
}

.menuLink a:hover .arrow {
  transform: rotate(90deg);
  transition: all 0.3s ease;
}

.arrow {
  margin-left: 10px;
}

.bookingButton {
  padding: 10px;
  color: #ffffff;
  background-color: var(--primary);
  border-radius: 7px;
  outline: none;
  border: none;
  transition: all 0.3s ease;
}

.bookingButton:hover {
  background-color: var(--secondary);
}

.bookingButton:hover .arrow {
  transform: rotate(90deg);
}

.dropdownService {
  width: 250px;
  padding: 15px 10px;
  border-radius: 10px;
  border-top: 2px solid var(--primary);
  opacity: 0;
  display: none;
  transition: all 0.6s ease;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #FFF;
}

.menuLink a:hover .dropdownService {
  opacity: 1;
  display: block;
  top: 30px;
}

.dropdownServices {
  width: 350px;
  padding: 10px;
  border-radius: 10px;
  border-top: 2px solid var(--primary);
  opacity: 0;
  display: none;
  transition: all 0.6s ease;
  position: absolute;
  top: 0;
  left: 100%;
  background-color: #FFF;
}

.dropdownService:hover .dropdownServices {
  opacity: 1;
  display: block;
  top: 10px;
}

.dropdownServiceButton {
  width: 250px;
  padding: 15px 10px;
  border-radius: 10px;
  border-top: 2px solid var(--primary);
  opacity: 0;
  display: none;
  transition: all 0.6s ease;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #FFF;
}

.dropdownServicesMenu {
  width: 350px;
  padding: 10px;
  border-radius: 10px;
  border-top: 2px solid var(--primary);
  opacity: 0;
  transition: all 0.6s ease;
  position: absolute;
  top: 0;
  right: 100%;
  background-color: #FFF;
}

.dropdownServiceButton:hover .dropdownServicesMenu {
  opacity: 1;
  top: 20px;
}

.bookingButton:hover .dropdownServiceButton {
  display: block;
  opacity: 1;
}

.dropdownPages {
  width: 200px;
  padding: 15px 20px;
  border-radius: 10px;
  border-top: 2px solid var(--primary);
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #FFF;
}

.menuLink a:hover .dropdownPages {
  display: block;
  top: 30px;
}

/* navbar style css End */

/* About us style start */
.aboutHeader {
  background-color: #F7F7F7;
}

.aboutHeaderContent h1,
.mainHeading {
  color: var(--text);
  font-size: 40px;
}

.aboutHeaderContent p,
.aboutDetails p {
  font-size: 18px;
  line-height: 1.5;
  color: var(--text);
  font-weight: 400;
  margin-top: 18px;
}

.aboutImage {
  width: 522px;
}

.aboutDetails h1 {
  font-size: 25px;
}

.aboutBottom {
  background-color: #F7F7F7;
  padding: 30px 0px;
}

.guarantee {
  font-size: 30px;
  color: var(--text);
  margin: 20px 0px 0px 20px;
}

.guaranteeParagraphs {
  background-color: white;
  padding: 30px 30px 50px;
  margin: 20px 0px 0px;
}

/* About us style end */


/* Contact us style start */
.getInTouch h1 {
  font-size: 35px;
  color: var(--text);
}

.getInTouch p {
  font-size: 18px;
  color: var(--text);
}

/* Contact us style end */

/* Blogs style start */
.blog {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.blogImage {
  width: 100%;
  height: 315px;
}

.seeMore {
  text-decoration: none;
  color: var(--secondary);
  font-size: 17px;
  font-weight: 500;
}

.seeMore:hover {
  color: var(--primary);
}

/* Blogs style end */