.headerMain{
    background-color: #a1a1a1;
}
.banner {
    background-image: linear-gradient(#333133dc, #333133ac), url("/public/images/banner/banner.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 138px);
}

.bannerHeading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.bannerHeading h1 {
    font-size: 50px;
    color: white;
    text-align: center;
}

.sectionHeader {
    margin: 50px 0px;
}

.serviceHeading {
    font-size: 35px;
    color: white;
    text-align: center;
    font-weight: 500;
}

.serviceParagraph {
    font-size: 16px;
    color: var(--text);
    text-align: center;
    margin-top: 10px;
}

.services {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-bottom: 60px;

}

.serviceCard {
    background-color: #a1a1a1;
    box-shadow: var(--shadow1);
    border-radius: 7px;
}

.seeMore {
    text-decoration: none;
    color: var(--primary);
    font-size: 17px;
    font-weight: 500;
}

.seeMore:hover {
    color: var(--secondary);
}

.cardImage {
    /* width: 350px; */
    border-radius: 7px 0px 0px 7px;
}

.serviceCardContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 245px;
}

.quoteButton {
    outline: none;
    border: none;
    padding: 15px;
    font-size: 17px;
    background-color: var(--primary);
    border-radius: 7px;
    color: white;
    font-weight: 500;
    transition: all 0.3s ease;
}

.quoteButton:hover {
    background-color: var(--secondary);
}

.linkText {
    display: inline-block;
    color: var(--primary);
    border-bottom: 3px solid transparent;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.linkText:hover {
    border-bottom: 3px solid var(--primary);
    color: var(--secondary);
}