.banner {
    background-image: linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0.65)), url("/public/images/banner/banner.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bannerHeading {
    font-size: 50px;
    text-align: center;
    padding: 250px 0px;
}

.sectionHeader {
    margin: 50px 0px;
}

.serviceHeading {
    font-size: 35px;
    color: black;
    text-align: center;
    font-weight: 500;
}

.serviceParagraph {
    font-size: 16px;
    color: var(--text);
    text-align: center;
    margin-top: 10px;
}

.services {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-bottom: 50px;

}

.serviceCard {
    box-shadow: 0 10px 20px 0 #0000001a;
    border-radius: 7px;
}

.cardImage {
    width: 350px;
    border-radius: 7px 0px 0px 7px;
}

.quoteButton {
    outline: none;
    border: none;
    padding: 15px;
    font-size: 17px;
    background-color: var(--primary);
    border-radius: 7px;
    color: white;
    font-weight: 500;
    transition: all 0.3s ease;
}

.quoteButton:hover {
    background-color: var(--secondary);
}

.linkText {
    display: inline-block;
    color: var(--primary);
    border-bottom: 3px solid transparent;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.linkText:hover {
    border-bottom: 3px solid var(--primary);
    color: var(--secondary);
}