@media (max-width: 991px) {
    .bannerHeading {
        font-size: 40px;
        padding: 150px 0px;
    }

    .serviceHeading {
        font-size: 26px;
    }

    .services {
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 30px;
    }

    .cardImage {
        border-radius: 7px;
    }

    .servicePageImg {
        width: 75%;
    }

    .page-content {
        align-items: center;
    }

    .pageBanner h1,
    .pageTitle h1 {
        font-size: 40px;
    }

    .aboutHeaderContent h1,
    .mainHeading {
        color: var(--text);
        font-size: 30px;
    }

    .formStepOne {
        width: 95%;
    }

    .border--right {
        border-top: 1px solid transparent;
        border-left: 1px solid var(--primary);
    }

    .border--left {
        border-right: 1px solid transparent;
    }

    .border--middle {
        border-left: 1px solid var(--primary);
        border-right: 1px solid var(--primary);
    }

    .guarantee {
        font-size: 26px;
    }

    .blog {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 992px) {
    .half-width {
        width: 50%;
    }

    .half-width img {
        object-fit: cover;
        object-position: left;
    }


}

@media (max-width: 600px) {
    .logo-link {
        margin-left: 12px;
    }

    .navbar-toggler {
        padding: 5px !important;
        margin-right: 12px;
    }

    .navbar-collapse {
        background: #f7f7f7;
    }

    .custom-nav a,
    .custom-nav .custom-a {
        padding: 15px 20px;
        display: flex;
        width: 100%;
        align-items: center;
        border-bottom: 1px solid #d9d9d9;
        justify-content: space-between;
    }

    .arrow {
        margin-top: 4px;
    }

    .bannerHeading {
        font-size: 25px;
        padding: 100px 10px;
    }

    .serviceHeading {
        font-size: 22px;
    }

    .services {
        grid-template-columns: 1fr;
    }

    .half-width img {
        width: 100%;
    }

    .servicePageImg {
        width: 100%;
    }

    .pageBanner h1,
    .pageTitle h1 {
        font-size: 30px;
    }

    .pageBanner h1 {
        padding: 40px 12px;
    }

    .inputForm {
        flex-direction: column;
        gap: 15px;
    }

    .serviceSpace {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .formStepOne {
        width: 95%;
    }

    .buttonGroupCleaned {
        display: flex;
        flex-direction: column;
    }

    .border--left {
        border-right: 1px solid var(--primary);
    }

    .border--middle {
        border-top: 1px solid transparent;
        border-bottom: 1px solid var(--primary);
    }

    .aboutHeaderContent h1,
    .mainHeading {
        color: var(--text);
        font-size: 24px;
    }

    .sub-heading {
        font-size: 22px !important;
    }

    .guarantee {
        font-size: 23px;
    }

    .blog {
        grid-template-columns: repeat(1, 1fr);
    }

    .menuLinks .menuLink,
    .menuLinks a {

        display: inline-block;
    }

    .m20 {
        margin-bottom: 20px !important;
    }

    .mt20,
    .serviceMenu20:first-child {
        margin-top: 20px;
    }

    .dropdownServices {
        left: -125px;
        width: 347px;
        padding: 0 20px !important;
    }

    .dropdownPages {
        padding: 0 20px !important;
    }

    .menuLink:hover .dropdownServices {
        height: 300px;
    }
}