.mailIcon,
.phoneIcon {
    color: white;
}

.icon {
    color: white;
    transition: all 0.3s ease;
}

.icon:hover {
    color: var(--secondary);
}

.mail,
.phone .textColor {
    color: white;
}

.logo {
    width: 235px;
    height: 60px;
}

/* menu  css start*/
.menuLinks .menuLink,
.menuLinks a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.menuLinks .menuLink:hover {
    color: var(--secondary);
}

.menuLinks a:hover {
    color: var(--secondary);
}

.arrow {
    margin-left: 5px;
    transition: all 0.3s ease;
}

.menuLink:hover .arrow {
    transform: rotate(90deg);
}

/* dropdown services css */
.dropdownServices {
    height: 0px;
    width: 350px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    top: 33px;
    padding: 20px;
    background-color: var(--bg2);
    border-top: 2px solid var(--primary);
    border-radius: 7px;
    transition: all 0.3s ease;
    z-index: 999;
}

.menuLink:hover .dropdownServices {
    height: 280px;
    overflow: visible;
    opacity: 1;
}

/* dropdown pages */
.dropdownPages {
    height: 0px;
    width: 150px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    top: 33px;
    padding: 20px;
    background-color: var(--bg2);
    border-top: 2px solid var(--primary);
    border-radius: 7px;
    transition: all 0.3s ease;
    z-index: 999;
}

.menuLink:hover .dropdownPages {
    height: 150px;
    overflow: visible;
    opacity: 1;
}

/* dropdown from */
.bookingButton {
    outline: none;
    border: none;
    border-radius: 7px;
    color: white;
    background-color: var(--primary);
    padding: 10px 15px;
    transition: all 0.3s ease;
}

.bookingButton:hover {
    background-color: var(--secondary);
}

.btn-arrow {
    transition: all 0.3s ease;
}

.bookingButton:hover .btn-arrow {
    transform: rotate(90deg);
}

.dropdown-form {
    height: 0px;
    width: 350px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    top: 100%;
    right: 0;
    padding: 20px;
    background-color: var(--bg2);
    border-top: 2px solid var(--primary);
    border-radius: 7px;
    transition: all 0.3s ease;
}

.bookingButton:hover .dropdown-form {
    height: 280px;
    overflow: visible;
    opacity: 1;
}