.formPageHeader {
    text-align: center;
}

.formPageHeader h1 {
    color: #292b2c;
    font-size: 35px;
}

.formPageHeader h2 {
    color: #65686a;
    font-size: 30px;
}

.formPageHeader p,
.inputForm p {
    color: #4c4e50;
    font-size: 20px;
}

.formStepOne {
    width: 75%;
}

.formStepOne h2 {
    color: #65686a;
    font-size: 24px;
    font-weight: 700;
}


.inputForm input {
    outline: none;
    border: 1px solid var(--border);
    padding: 8px 12px;
}

.inputForm select {
    color: #4c4e50;
    outline: none;
    border: 1px solid var(--border);
    padding: 8px 12px;
}

.stepTowP {
    color: #989b9d;
    font-size: 18px;
}

.space-cleaned-btn {
    outline: none;
    border: 0;
    padding: 10px 20px;
    border: 1px solid var(--primary);
    background: transparent;
    transition: linear 0.2s all;
}

.border--right {
    border-left: 1px solid transparent;
}

.border--left {
    border-right: 1px solid transparent;
}

.border--middle {
    border-right: 1px solid var(--primary);
}

.space-cleaned-btn:hover,
.yes-no-btn:hover {
    color: #fff;
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
}

.button--active {
    color: #fff;
    background-color: var(--primary);
    border: 1px solid var(--primary);
}

.yes-no-but-group {
    display: flex;
}

.yes-no-btn {
    outline: none;
    border: 0;
    padding: 10px 20px;
    border: 1px solid var(--primary);
    transition: linear 0.2s all;
}

.borderRight {
    border-right: 1px solid transparent;
}


.serviceSpace {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.Space-types-card {
    background-color: #E2E5EA;
    padding: 20px;
    border-radius: 5px;
}

.Space-types-card h3 {
    font-size: 18px;
    color: #576176;
}

.toolTip {
    color: #576176;
}


.inputGroup {
    width: 195px;
    height: 45px;
    border: 1px solid var(--primary);
}

.inputGroup input {
    outline: none;
    border: none;
}

.plusMinus {
    background-color: var(--primary);
    color: white;
    outline: none;
    border: none;
    height: 43px;
    width: 100%;
    font-size: 25px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.plusMinus:hover {
    background-color: var(--secondary);
}