.pageBanner {
    background-color: var(--bg);
    padding: 0px 12px;
}

.pageBanner h1 {
    color: white;
    font-size: 50px;
    text-align: center;
    padding: 55px 0px;
}

/* .pageBgPatten {
    background-image: url('/public/images/bg-body.jpg');
} */

.pageTitle h1 {
    font-size: 45px;
    color: var(--text);
}

.pageTitle p {
    font-size: 18px;
    color: var(--text);
    line-height: 1.8;
}

.pageBottomText {
    margin-top: 25px;
}

.pageBottomText {
    color: var(--text);
    font-weight: 500;
}

.pageBottomText span {
    font-weight: 700;
}
.servicePageImg{
    width: 50%;
}
.checkIcon {
    color: var(--primary);
}

.serviceFeature {
    font-size: 18px;
}